/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

/* Geary Sidebar Resize */
.geary-folder-frame {
	min-width: 200px;
}

/* Increase row spacing */
.geary-conversation-frame .view {
	padding-top: 4px;
	padding-bottom: 4px;
}

/* Tweak button label spacing */
.geary-main-window button label {
	padding-left: 5px;
}
