[Desktop Entry]
Version=1.1
Type=Application
Name=Proton Mail
Icon=gnome-protonmail
# Reddit explains how to create Chromium PWA web application with regular window decorations
# https://www.reddit.com/r/kde/comments/i28jni/chrome_app_window_decoration/
# We need to wrap Exec in   bash -c "..."   for the environment variables to be expanded
Exec=bash -c "env XDG_CONFIG_HOME=$HOME/.config-dark chromium-browser --app=https://mail.protonmail.com"
Categories=chrome-apps;
# This can be obtained by typing "xprop WM_CLASS" in terminal and clicking on the window
# It helps grouping windows under same icon in the dock
StartupWMClass=mail.protonmail.com
